
cabeleireiro/.idea/modules.xml
cabeleireiro/.idea/misc.xml
cabeleireiro/.idea/inspectionProfiles/profiles_settings.xml
cabeleireiro/.idea/cabeleireiro.iml
boogle/.idea/modules.xml
boogle/.idea/boogle.iml
boogle/.idea/inspectionProfiles/profiles_settings.xml
